.center-div{
    width: 75%;
    margin: 0 auto;
}
.sdgs-center-div{
    /* margin: 0 auto; */
    margin-left: 15%;
    margin-right: 8%;
}
.sdgIcons{
  margin-bottom:4px !important;
  width:150px;
  height:150px;
}
.mainFooter{
  background-color: grey;
  margin-bottom: 0 !important;
  position: fixed;
  left: 0;
  bottom: 0;
}
