.node {
    cursor: pointer;
  }

  .overlay{
      background-color:white;
  }
  .sdg1 .node circle {
    fill: #e5243b !important;
    stroke: #e5243b;
    stroke-width: 1.5px;
  }

   .sdg2 .node circle {
    fill: #DDA63A !important;
    stroke: #DDA63A;
    stroke-width: 1.5px;
  }
   .sdg3 .node circle {
    fill: #4C9F38 !important;
    stroke: #4C9F38;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }