<style>
    .btn-danger{
        border-radius: 0;
    }
    .current{
        background-color: maroon;
        border-color: maroon;
    }
</style>
<nav class="navbar navbar-expand-md" color-on-scroll="500">
    <div class="navbar-translate">
        <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
        </button>
        <a class="navbar-brand" href="../home/index.html"><img src="../assets/img/logos/SDGCA.png" height="90px" style="float: left;"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a id="index" href="../home/index.html" class="btn btn-danger">Home</a>
            </li>
            <li class="nav-item">
                <a id="sdgs" href="../sdgs/sdgs.html" class="btn btn-danger">SDGs</a>
            </li>
            <li class="nav-item">
                <a id="dashboard" href="../home/dashboard.html" class="btn btn-danger">Dashboard</a>
            </li>
            <li class="nav-item">
                <a id="country_profile" href="../home/country_profile.html" class="btn btn-danger">Country Profiles</a>
            </li>
            <li class="nav-item">
                <a id="asps" href="../asps/asps.html" class="btn btn-danger">A2063</a>
            </li>
            <li class="nav-item">
                <a id="about" href="../home/about.html" class="btn btn-danger">About Us</a>
            </li>
            <li class="nav-item">
                <a id="faqs" href="../home/faqs.html" class="btn btn-danger">FAQs</a>
            </li>
        </ul>
    </div>
</nav>
